@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=VT323&display=swap');
body {
	font-family: "Consolas", "Arial", sans-serif;
	font-size: 14px;
	background: #8dd0fb url("https://i.gifer.com/g32K.gif"); 
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	background-size: cover;
	background-attachment: fixed;
  background-position:center;

}

ul {list-style:none;
padding-inline-start: 10px;
}

li {
  font-family:Space Mono;
  font-size: 20px;
  text-align: left; 
  letter-spacing:4px;
  padding-left: 1px;
  padding-right:8px
  }

h1 {
  font-family:VT323;
  text-align: center;
  font-size: 30px;
  letter-spacing:4px;
  }

.time {
  font-family: Space Mono; monospace;
  font-weight:Bold;
  font-size: 60px;
  -webkit-text-stroke: 2px orange;
  color: #06684d;
	text-shadow: -5px 5px 0px #042e3d , -10px 10px #0ab855, -15px 15px 0px #078f4a, -20px 20px 0px #06684d;
}
  
/*Use as the class of spans or divs you want to have normal left-aligned text.*/
/*You can combine classes by putting them together with a space, i.e. <div class="box left"> will be a div using "box" and "left" styles.*/
.left {
  text-align:left;
  }

/*A box that stays at a fixed height and scrolls when content gets too long.*/
.box {
  margin: 0 auto;
	overflow: auto;
	background-color:#616E7C;
	border: 2px solid #000;
	width: 32em;
	height: 24em;
	margin-top: 9.5%;
	padding: 3.5em 4em;
}

.inner-box{
  display:inline-block;
  background-color:#042e3d;
  margin:9.5% 5.5%;
  height:auto;
  border: 2px solid #fff;
  box-shadow: 2px 2px 3px #042e3d;
  border-radius:8px
}

/*A box that doesn't scroll, instead growing in height.*/
.box-noscroll {
  margin: auto auto 4% auto;
  border-radius:8px;
	width: 32em;
	padding: 3.5em 4em;
}

a{
 text-decoration:none;
 color: orange; }
  
/*Prevent overflow of large images.*/
.box img, .box-noscroll img, .box-round img {
  max-width: 100%;
  height: auto;
  }


/*For narrow screens.*/
@media (max-width: 500px) {
  .box, .box-noscroll {
    width: 85%;
    }
  }
  
/*Mobile compatibility*/
@media (orientation: portrait) {
  .box, .box-noscroll {
    width: 85%;
    }
  }
